<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senka Panel</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/assets/favicon.ico">
</head>
<body class="background">
    <div class="title_container">
        <div style="display: flex; margin-left: 30px;" class="can_select">
            <img src="/assets/Senka_Icon.png" style="height: auto;">
            <div style="
                color: #EA5E27FF;
                white-space: nowrap;
                width: fit-content;
                font-weight: bold;
                font-size: 40px;">
                {{senka_panel_title}}
            </div>
        </div>
        <ul class="horizontal_list">
            <li class="list_tab list_tab_left_border">
                <div class="list_tab senka_change_color text_center_container can_select">
                    <span>{{login_tab}}</span>
                </div>
            </li>
            <li class="list_tab list_tab_left_border dropdown">
                <div class="list_tab senka_change_color text_center_container can_select">
                    <a>{{more_tab}}</a>
                </div>
                <div class="dropdown_content">
                    <div class="list_tab senka_change_color text_center_container text_border can_select">
                        <p>{{switch_language}}</p>                
                    </div>
                    <div class="list_tab senka_change_color text_center_container text_border can_select">
                        <a>{{source_code_tab}}</a>                        
                    </div>
                    <div class="list_tab senka_change_color text_center_container text_border can_select">
                        <p>{{about_senka_panel_tab}}</p>                
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content_background">
        <div 
            style="
            background-color:#1f1f1f;
            justify-content: space-between;
            display: flex;
            align-items: center;
            width: 100%;
            height: 80%;
            border-bottom: gray 1px solid;">
            <div style="
                height: 100%;
                width: 55%;
                display: flex;
                justify-content: right;">
                <img src="/assets/Senka-release.png" 
                    style="
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 50px;
                    height: 90%;
                    min-width: unset;
                    min-height: unset;"/>
            </div>
            <div style="
                width: 45%;">
                <p>
                    <span style="
                        font-size: 80px;
                        color: #EA5E27;">Senka</span>
                    <span style="
                        font-size: 80px;
                        color: white;">Panel</span>
                    <span>
                        <img src="/assets/Senka_Icon.png">
                    </span>
                </p>
                <p style="color: gray;">An friendly open-source personal server management platform</p>
                <p>
                    <button class="senka_button">{{quick_start_button}}</button>
                </p>
            </div>
        </div>
        <div>
            <p style="
                display: flex;
                justify-content: center;
                align-items: center;">
                <span style="
                    color: gray;
                    font-size: 12px;">{{author_announcement}}</span>
            </p>
        </div>
    </div>
</body>
</html>